{% extends "govuk-prototype-kit/layouts/unbranded.html" %}


{% block content %}

<!-- Filter HTML -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Filter documents</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <h2 class="govuk-heading-m">Filters</h2>

        <div class="govuk-accordion" data-module="govuk-accordion">
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h3 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button">
                            Type
                        </span>
                    </h3>
                </div>
                <div class="govuk-accordion__section-content">
                    <div style="padding-left:30px;">
                        <form class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-grid-row">
                                    <div class="">
                                        <fieldset class="govuk-fieldset">
                                            <div class="govuk-checkboxes govuk-checkboxes--small">
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" type="checkbox">
                                                    <label class="govuk-label govuk-checkboxes__label">
                                                        PDF (2)
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" type="checkbox">
                                                    <label class="govuk-label govuk-checkboxes__label">
                                                        DOC, DOCX (1)
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" type="checkbox"
                                                        value="Hearing">
                                                    <label class="govuk-label govuk-checkboxes__label">
                                                        JPG, JPEG (0)
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" type="checkbox"
                                                        value="Outline planning permission with some matters reserved">
                                                    <label class="govuk-label govuk-checkboxes__label">
                                                        XLS, XLSX (0)
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button">
                            Date published
                        </span>
                    </h2>
                </div>
                <div class="govuk-accordion__section-content">
                    <div style="padding-left:30px;">
                        <div class="govuk-fieldset">
                            <div class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                <h4 class="govuk-fieldset__heading">From</h4>
                            </div>
                            <div class="govuk-hint">For example, 5 7 2022</div>
                            <div class="govuk-date-input">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <span class="govuk-label govuk-date-input__label">Day</span>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                            type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <span class="govuk-label govuk-date-input__label">Month</span>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                            type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <span class="govuk-label govuk-date-input__label">Year</span>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                            type="text" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-fieldset__legend govuk-fieldset__legend--xs" style="margin-top:20px">
                                <h4 class="govuk-fieldset__heading">To</h4>
                            </div>
                            <div class="govuk-hint">For example, 27 3 2023</div>
                            <div class="govuk-date-input">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <span class="govuk-label govuk-date-input__label">Day</span>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                            type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <span class="govuk-label govuk-date-input__label">Month</span>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                            type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <span class="govuk-label govuk-date-input__label">Year</span>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                            type="text" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <a href="" class="govuk-button" style="margin-bottom:0px;">
            Apply filters
        </a>
    </div>

    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m" style="margin-top:60px">Results</h2>
        <ul class="govuk-list">
            <li><a href="">Document-1.PDF</a></li>
            <li>27 May 2026</li>
            <li>PDF, 223KB</li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <ul class="govuk-list">
            <li><a href="">Document-2.PDF</a></li>
            <li>27 May 2026</li>
            <li>PDF, 6KB</li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <ul class="govuk-list">
            <li><a href="">Document-3.doc</a></li>
            <li>27 November 2025</li>
            <li>DOC, 22MB</li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>

</div>

{% endblock %}