{% set currentPage = "patterns" %}
{% extends "layouts/main.html" %}

{% set pageName = "Filters" %}

{% from "layouts/pattern-menu.html" import sideMenu %}
{% from "includes/code-block.njk" import codeBlock%}

{% block content %}

<style>
    .wrap {
        width: 100%;
        padding: 0;
        overflow: hidden;
        height: 600px;
    }

    .wrap-2 {
        width: 100%;
        padding: 0;
        overflow: hidden;
        height: 15rem;
    }


    .frame-2 {
        width: 133%;
        height: 20rem;
        border: 1px solid rgb(172, 172, 172);
    }

    .frame-2 {
        -ms-zoom: 0.75;
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.75);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: 0 0;
    }

    .frame {
        width: 133%;
        height: 55rem;
        border: 1px solid rgb(172, 172, 172);
    }

    .frame {
        -ms-zoom: 0.75;
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.75);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: 0 0;
    }
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        {{ sideMenu("item2") }}
    </div>

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ pageName }}</h1>
        <p>
            <strong class="govuk-tag govuk-tag--yellow">Work in progress
            </strong>
        </p>

        <p class="govuk-body">Use filters to help users narrow down a list of results. There are 2 possible filter
            patterns. Choose the one that best meets user needs and the context.</p>

        <h2 class="govuk-heading-l">When to use this pattern</h2>

        <p class="govuk-body">Use filters when users need to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>narrow down a long list of results</li>
            <li>find specific items based on known criteria</li>
            <li>combine filters with search to refine results</li>
        </ul>

        <p class="govuk-body">Do not use filters if users are unlikely to understand the filtering options or if the
            list is short enough to scan easily.</p>

        <h2 class="govuk-heading-l">Filter patterns</h2>

        <h3 class="govuk-heading-m">Left-hand filter panel</h3>

        <p class="govuk-body">Use left-hand filters when you want to keep filters visible while users browse results.
            This layout works well when:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>filters are important to the task</li>
            <li>users need to adjust filters while browsing results</li>
            <li>there is enough horizontal space to accommodate the filter panel</li>
        </ul>



        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">Contents</h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item">

                    <a class="govuk-tabs__tab" href="#left-tab-1">Example</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#left-tab-2">HTML</a>
                </li>

                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#left-tab-3">Example links</a>
                </li>
            </ul>
            <div class="govuk-tabs__panel" id="left-tab-1" style="padding-top: 0;">
                <div class="wrap">
                    <iframe class="frame" src="filter-example-left.html"></iframe>
                </div>
            </div>
            <div class="govuk-tabs__panel" id="left-tab-2" style="padding-top: 0;">
                <div style="border:#cecece 1px solid">
                    <!-- beautify ignore:start -->{{ codeBlock('
<h2 class="govuk-heading-m">Filters</h2>

<div class="govuk-accordion" data-module="govuk-accordion">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button">
                    Type
                </span>
            </h3>
        </div>
        <div class="govuk-accordion__section-content">
            <div style="padding-left:30px;">
                <form class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-grid-row">
                            <div class="">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-checkboxes govuk-checkboxes--small">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" type="checkbox">
                                            <label class="govuk-label govuk-checkboxes__label">
                                                PDF (2)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" type="checkbox">
                                            <label class="govuk-label govuk-checkboxes__label">
                                                DOC, DOCX (1)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" type="checkbox" value="Hearing">
                                            <label class="govuk-label govuk-checkboxes__label">
                                                JPG, JPEG (0)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" type="checkbox"
                                                value="Outline planning permission with some matters reserved">
                                            <label class="govuk-label govuk-checkboxes__label">
                                                XLS, XLSX (0)
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button">
                    Date published
                </span>
            </h2>
        </div>
        <div class="govuk-accordion__section-content">
            <div style="padding-left:30px;">
                <div class="govuk-fieldset">
                    <div class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                        <h4 class="govuk-fieldset__heading">From</h4>
                    </div>
                    <div class="govuk-hint">For example, 5 7 2022</div>
                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <span class="govuk-label govuk-date-input__label">Day</span>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text"
                                    inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <span class="govuk-label govuk-date-input__label">Month</span>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text"
                                    inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <span class="govuk-label govuk-date-input__label">Year</span>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" type="text"
                                    inputmode="numeric">
                            </div>
                        </div>
                    </div>
                    <div class="govuk-fieldset__legend govuk-fieldset__legend--xs" style="margin-top:20px">
                        <h4 class="govuk-fieldset__heading">To</h4>
                    </div>
                    <div class="govuk-hint">For example, 27 3 2023</div>
                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <span class="govuk-label govuk-date-input__label">Day</span>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text"
                                    inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <span class="govuk-label govuk-date-input__label">Month</span>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text"
                                    inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <span class="govuk-label govuk-date-input__label">Year</span>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" type="text"
                                    inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
                    '
                    , 'html') }}<!-- beautify ignore:end -->
                </div>
            </div>

            <div class="govuk-tabs__panel" id="left-tab-3">
                <h4 class="govuk-heading-s">Find a National Infrastructure Project prototype</h4>
                <ul class="govuk-list">
                    <li>
                        <a
                            href="https://github.com/Planning-Inspectorate/applications-service-prototype/blob/main/app/views/FrontOffice/Project_documents.html">GitHub
                            code</a>
                    </li>
                    <li>
                        <a
                            href="https://pins-app-prototype-applications-front-office.azurewebsites.net/FrontOffice/Project_documents">View
                            in prototype</a>
                    </li>
                </ul>

                <h4 class="govuk-heading-s">Find a Crown development application prototype</h4>
                <ul class="govuk-list">
                    <li>
                        <a
                            href="https://github.com/Planning-Inspectorate/crown-developments-prototype/blob/main/app/views/features/filter-redesign/v1/written-representations.html">GitHub
                            code</a>
                    </li>
                    <li>
                        <a
                            href="https://pins-app-prototype-crown-dev.azurewebsites.net/features/filter-redesign/v1/written-representations">View
                            in prototype</a>
                    </li>
                </ul>
            </div>
        </div>


        <h3 class="govuk-heading-m">Filters above results</h3>

        <p class="govuk-body">Show collapsible filters above the results when:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the page layout does not allow for a left-hand panel</li>
            <li>the results need to span the full width of the page</li>
            <li>the left-hand column is used for other important content</li>
        </ul>

        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">Contents</h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#top-tab-1">Example</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#top-tab-2">HTML</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#top-tab-3">Example links</a>
                </li>
            </ul>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="top-tab-1">
                <iframe height="400px" width="100%" src="filter-example-top.html"></iframe>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="top-tab-2">
                {{ codeBlock('<!--Custom styling-->
                <style>
                    .govuk-details__summary::before {
                        clip-path: polygon(6.38% 22.63%, 49.5% 65.75%, 92.63% 22.63%, 100% 30%, 50% 80%, 0% 30%);
                        background-color: black;
                        width: 3px;
                        height: 3px;
                    }

                    .govuk-details[open]>.govuk-details__summary::before {
                        clip-path: polygon(0% 71.88%, 49.5% 22.63%, 98.5% 71.88%, 91.63% 78.71%, 50% 36.88%, 7.37% 79.29%);
                        width: 3px;
                        height: 3px;
                    }
                </style>

                <!--Filter HTML-->

                <details class="govuk-details govuk-!-margin-top-3" id="filter-panel">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Filter applications
                        </span>
                    </summary>
                    <div style="background-color:#F3F2F1; padding:20px;">
                        <details class="govuk-details govuk-!-margin-bottom-0">
                            <summary class="govuk-details__summary">
                                <h3 class="govuk-heading-s">
                                    Type of application
                                    </span>
                            </summary>
                            <div style="padding-left:30px;">
                                <form class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <div class="govuk-grid-row">
                                            <div class="">
                                                <fieldset class="govuk-fieldset"
                                                    aria-describedby="type-of-application-hint">
                                                    <div class="govuk-checkboxes govuk-checkboxes--small">
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="type-3"
                                                                name="type" type="checkbox"
                                                                value="Approval of reserved matters following outline approval">
                                                            <label class="govuk-label govuk-checkboxes__label"
                                                                for="type-3">
                                                                Approval of reserved matters following outline
                                                                approval
                                                                (0)
                                                            </label>
                                                        </div>
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="type-4"
                                                                name="type" type="checkbox"
                                                                value="Planning permission and listed building consent (LBC)">
                                                            <label class="govuk-label govuk-checkboxes__label"
                                                                for="type-4">
                                                                Planning permission and listed building consent
                                                                (LBC)
                                                                for alterations, extension or demolition of a listed
                                                                building (3)
                                                            </label>

                                                        </div>
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="type-2"
                                                                name="type" type="checkbox"
                                                                value="Outline planning permission with some matters reserved">
                                                            <label class="govuk-label govuk-checkboxes__label"
                                                                for="type-2">
                                                                Outline planning permission with some matters
                                                                reserved
                                                                (1)
                                                            </label>
                                                        </div>
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="type-2"
                                                                name="type" type="checkbox"
                                                                value="Outline planning permission with some matters reserved">
                                                            <label class="govuk-label govuk-checkboxes__label"
                                                                for="type-2">
                                                                Outline planning permission with all matters
                                                                reserved
                                                                (1)
                                                            </label>
                                                        </div>

                                                        <div class="govuk-checkboxes__item">

                                                            <input class="govuk-checkboxes__input" id="type-1"
                                                                name="type" type="checkbox" value="Planning permission">
                                                            <label class="govuk-label govuk-checkboxes__label"
                                                                for="type-1">
                                                                Planning permission (20)
                                                            </label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </details>
                        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

                        <details
                            class="govuk-details govuk-!-margin-top-3 govuk-!-margin-padding-0 govuk-!-margin-bottom-0"
                            id="filter-panel">
                            <summary class="govuk-details__summary">
                                <h3 class="govuk-heading-s">Stage</h3>
                            </summary>
                            <div style="padding-left:30px;">
                                <form class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <div class="govuk-grid-row">
                                            <div class="">
                                                <fieldset class="govuk-fieldset" aria-describedby="stage-hint">
                                                    <div class="govuk-checkboxes govuk-checkboxes--small">
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="stage-accepted"
                                                                name="stage" type="checkbox" value="Accepted">
                                                            <label class="govuk-label govuk-checkboxes__label"
                                                                for="stage-accepted">
                                                                Accepted (0)
                                                            </label>
                                                        </div>
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input"
                                                                id="stage-consultation" name="stage" type="checkbox"
                                                                value="Consultation">
                                                            <label class="govuk-label govuk-checkboxes__label"
                                                                for="stage-consultation">
                                                                Consultation (2)
                                                            </label>
                                                        </div>
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="stage-procedure"
                                                                name="stage" type="checkbox" value="Procedure choice">
                                                            <label class="govuk-label govuk-checkboxes__label"
                                                                for="stage-procedure">
                                                                Procedure choice (0)
                                                            </label>
                                                        </div>
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="stage-written"
                                                                name="stage" type="checkbox"
                                                                value="Written representations">
                                                            <label class="govuk-label govuk-checkboxes__label"
                                                                for="stage-written">
                                                                Written representations (2)
                                                            </label>
                                                        </div>
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="stage-inquiry"
                                                                name="stage" type="checkbox" value="Inquiry">
                                                            <label class="govuk-label govuk-checkboxes__label"
                                                                for="stage-inquiry">
                                                                Inquiry (0)
                                                            </label>
                                                        </div>
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="stage-hearing"
                                                                name="stage" type="checkbox" value="Hearing">
                                                            <label class="govuk-label govuk-checkboxes__label"
                                                                for="stage-hearing">
                                                                Hearing (1)
                                                            </label>
                                                        </div>
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="stage-decision"
                                                                name="stage" type="checkbox" value="Decision">
                                                            <label class="govuk-label govuk-checkboxes__label"
                                                                for="stage-decision">
                                                                Final decision (12)
                                                            </label>
                                                        </div>
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="stage-decision"
                                                                name="stage" type="checkbox" value="Decision">
                                                            <label class="govuk-label govuk-checkboxes__label"
                                                                for="stage-decision">
                                                                Post-decision (0)
                                                            </label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="govuk-grid-column-one-third"></div>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>

                        </details>

                        <a href="applications-selected" class="govuk-button" style="margin-bottom:0px">
                            Apply filters
                        </a>
                    </div>
                </details>'
                , 'html') }}

            </div>

            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="top-tab-3">
                <h4 class="govuk-heading-s">Crown Developments prototype</h4>
                <ul class="govuk-list">
                    <li>
                        <a
                            href="https://github.com/Planning-Inspectorate/crown-developments-prototype/blob/main/app/views/features/filters/v3/applications.html">GitHub
                            link</a>
                    </li>
                    <li>
                        <a
                            href="https://pins-app-prototype-crown-dev.azurewebsites.net/features/filters/v3/applications">View
                            in prototype</a>
                    </li>
                </ul>

            </div>
        </div>

        <p class="govuk-body">This pattern is based on the
            <a href="https://www.gov.uk/search">GOV.UK search</a>
            filters.
        </p>

        <h2 class="govuk-heading-l">How to design filters</h2>

        <h3 class="govuk-heading-m">Make filters relevant</h3>

        <p class="govuk-body">Base filters on real user needs. Use language your users understand. Avoid technical
            terms
            or
            internal labels.
        </p>

        <p class="govuk-body">Group related filters together and use clear headings.
        </p>

        <h3 class="govuk-heading-m">Keep filter lists short</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>Show the most common or useful options first.</li>
            <li>Keep lists scannable and avoid long, ungrouped lists</li>
            <li>Consider grouping options into categories</li>
        </ul>

        <h3 class="govuk-heading-m">Show applied filters</h3>

        <p class="govuk-body">When users apply filters:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>show selected filters as removable tags or “chips”</li>
            <li>provide a “Clear filters” option</li>
            <li>update the results and filter counts dynamically</li>
        </ul>

        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">Contents</h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item">

                    <a class="govuk-tabs__tab" href="#selected-tab-1">Example</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#selected-tab-2">HTML</a>
                </li>

                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#selected-tab-3">Example links</a>
                </li>
            </ul>
            <div class="govuk-tabs__panel" id="selected-tab-1" style="padding-top: 0;">
                <div class="wrap-2">
                    <iframe class="frame-2" src="filter-example-selected.html"></iframe>
                </div>
            </div>
            <div class="govuk-tabs__panel" id="selected-tab-2" style="padding-top: 0;">
                <div style="border:#cecece 1px solid">
                    <!-- beautify ignore:start -->{{ codeBlock('
<style>
 
    .selected-filter-tag {
        margin: 0px;
        border-radius: 5px;
        background: #f3f2f1;
        color: #0b0c0c;
        font-family: "GDS Transport", Arial, sans-serif;
        border-radius: 4px;
        padding: 4px 10px !important;
        border: 1px solid #b1b4b6;
        white-space: nowrap;
        box-shadow: none !important;
    }
</style>

<h3 class="govuk-heading-s">
    Active filters

</h3>

<button class="govuk-button govuk-button--secondary selected-filter-tag" type="button">×
    Contains attachments: Yes</button>


<button class="govuk-button govuk-button--secondary selected-filter-tag" type="button">×
    Document type: PDF</button>

<div class="clear-link">
    <p class="govuk-body">
        <a href="" class="govuk-link">Clear filters</a>
    </p>
</div>'
                            , 'html') }}<!-- beautify ignore:end -->
                </div>
            </div>

            <div class="govuk-tabs__panel" id="selected-tab-3">

                <h4 class="govuk-heading-s">Find a Crown development application prototype</h4>
                <ul class="govuk-list">
                    <li>
                        <a
                            href="https://pins-app-prototype-crown-dev.azurewebsites.net/archive/filters/v3/written-reps-selected">View
                            in prototype</a>
                    </li>
                </ul>
            </div>
        </div>



        <h3 class="govuk-heading-m">Make filters work with search</h3>

        <p class="govuk-body">Make it easy to remove filters or clear the search independently.
        </p>

        <h3 class="govuk-heading-m">No results</h3>

        <p class="govuk-body">
            If a user applies filters or enters a search and gets no results, help them recover:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>show a clear message that no results were found</li>
            <li>suggest how they can change or remove filters</li>
            <li>offer a link to remove filters and clear search</li>
        </ul>



        <h2 class="govuk-heading-l">Mobile design</h2>

        <p class="govuk-body">On mobile, filters are usually hidden behind a “Show filters” button to save space.
            When
            users
            tap the button, the filter panel can expand as an accordion or appear as a full-screen overlay.
        </p>

        <div style="width:100%; display:flex; flex-wrap:wrap; gap:20px; padding-bottom:20px; align-items:flex-start;">
            <img style="border:1px solid grey; max-width:45%; height:auto;"
                src="/public/images/patterns/filters/left-hand-mobile-expanded.png"
                alt="A screenshot of a mobile filter panel overlay on the Find a National Infrastructure Project service. The filter panel has a 'return to results' button at the top, and each filter can be expanded or collapsed. There is also an Apply filters button at the bottom.">

            <img style="border:1px solid grey; max-width:49%; height:auto;"
                src="/public/images/patterns/filters/filter-above-results-mobile.png"
                alt="A screenshot of a collapsible filter panel above the Crown Developments applications list. Each filter can be expanded or collapsed, and there is a button to apply the filters.">
        </div>


        <h2 class="govuk-heading-l">Accessibility</h2>

        <p class="govuk-body">Make sure filters are:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>keyboard navigable</li>
            <li>screen reader friendly</li>
            <li>use visible focus states</li>
        </ul>

        <p class="govuk-body">Use simple visuals (for example, white backgrounds, uncluttered layouts, simple
            arrows).
        </p>

        <h2 class="govuk-heading-l">Research on this component</h2>

        <p class="govuk-body">We would like to do more user research into this component.</p>

        <h2 class="govuk-heading-l">Links to other design systems</h2>

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="https://design-patterns.service.justice.gov.uk/components/filter/">Ministry
                    of
                    Justice (MOJ) filter
                    component
                </a>
            </li>
            <li>
                <a href="https://design.education.gov.uk/design-system/components/filter">Department for Education
                    (DfE)
                    filter component
                </a>
            </li>
            <li>
                <a href="https://design-system.est.org.uk/patterns/filter.html">Energy Saving Trust (EST) filter
                    pattern</a>
            </li>
        </ul>
        <h2 class="govuk-heading-l">Component history</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                2 Jun 2026: Iterated this pattern to use the GOV.UK accordion styling to avoid link vs button
                ambiguity.
            </li>
        </ul>

    </div>
</div>

{% endblock %}