{% set currentPage = "patterns" %}
{% extends "layouts/main.html" %}

{% set pageName = "Filters" %}

{% from "layouts/pattern-menu.html" import sideMenu %}
{% from "includes/code-block.njk" import codeBlock%}

{% block content %}

<style>
    .wrap {
        width: 100%;
        padding: 0;
        overflow: hidden;
        height: 620px;
    }

    .frame {
        width: 133%;
        height: 55rem;
        border: 1px solid rgb(172, 172, 172);
    }

    .frame {
        -ms-zoom: 0.75;
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.75);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: 0 0;
    }

    .wrap-mobile {
        width: 49%;
        padding: 0;
        overflow: hidden;
        height: 620px;
        margin-bottom: 20px;
    }


    @media (max-width: 600px) {
        .wrap-mobile {
            width: 100%;
        }
    }

    .frame-mobile {
        width: 120%;
        height: 55rem;
        border: 1px solid rgb(172, 172, 172);
    }

    .frame-mobile {
        -ms-zoom: 0.75;
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.75);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: 0 0;
    }
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        {{ sideMenu("item2") }}
    </div>

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ pageName }}</h1>
        <p>
            <strong class="govuk-tag govuk-tag--yellow">Work in progress
            </strong>
        </p>

        <p class="govuk-body">Use filters to help users narrow down a list of results. There are 2 possible filter
            patterns. Choose the one that best meets user needs and the context.</p>

        <h2 class="govuk-heading-l">When to use this pattern</h2>

        <p class="govuk-body">Use filters when users need to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>narrow down a long list of results</li>
            <li>find specific items based on known criteria</li>
            <li>combine filters with search to refine results</li>
        </ul>

        <p class="govuk-body">Do not use filters if users are unlikely to understand the filtering options or if the
            list is short enough to scan easily.</p>

        <h2 class="govuk-heading-l">Filter patterns</h2>

        <h3 class="govuk-heading-m">Filters alongside results</h3>

        <p class="govuk-body">Use filters alongside results on the left of the page when you want to keep filters
            visible while users browse results.
            This layout works well when:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>filters are important to the task</li>
            <li>users need to adjust filters while browsing results</li>
            <li>there is enough horizontal space to accommodate the filter panel</li>
        </ul>

        <div class="govuk-tabs" data-module="govuk-tabs">
            <h3 class="govuk-tabs__title">Contents</h3>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item">

                    <a class="govuk-tabs__tab" href="#left-tab-1">Example</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#left-tab-2">HTML</a>
                </li>

                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#left-tab-3">Prototype links</a>
                </li>
            </ul>
            <div class="govuk-tabs__panel" id="left-tab-1" style="padding-top: 0;">
                <h4 class="govuk-heading-s">Example</h4>

                <div class="wrap">
                    <iframe class="frame" src="filter-example-left.html"></iframe>
                </div>
            </div>
            <div class="govuk-tabs__panel" id="left-tab-2" style="padding-top: 0;">
                <h4 class="govuk-heading-s">HTML</h4>

                <div style="border:#cecece 1px solid">
                    <!-- beautify ignore:start -->{{ codeBlock('
<style>
    .selected-filter-tag {
        display: inline-flex !important;
        width: auto !important;
        max-width: none !important;
        margin: 0px;
        border-radius: 5px;
        background: #f3f2f1;
        color: #0b0c0c;
        border-radius: 4px;
        padding: 4px 10px !important;
        border: 1px solid #b1b4b6;
        box-shadow: none !important;
    }

    .clear-link {
        margin-top: 20px;
        padding: 4px;
    }

    .active-filters {
        margin-bottom: 20px;
    }

    .active-filters__list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: center;
        margin-top: 0.5rem;
    }
</style>

<!-- Filter HTML -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Filter documents</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <h2 class="govuk-heading-m">Filters</h2>

        <div class="govuk-accordion" data-module="govuk-accordion">
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h3 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button">
                            Type
                        </span>
                    </h3>
                </div>
                <div class="govuk-accordion__section-content">
                    <div style="padding-left:30px;">
                        <form class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-grid-row">
                                    <div class="">
                                        <fieldset class="govuk-fieldset" aria-describedby="type-hint">
                                            <div class="govuk-checkboxes govuk-checkboxes--small">
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="type-pdf" name="type"
                                                        type="checkbox" value="PDF">
                                                    <label class="govuk-label govuk-checkboxes__label" for="type-pdf">
                                                        PDF (<span class="type-count" data-type-count="PDF">3</span>)
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="type-doc" name="type"
                                                        type="checkbox" value="DOC">
                                                    <label class="govuk-label govuk-checkboxes__label" for="type-doc">
                                                        DOC, DOCX (<span class="type-count"
                                                            data-type-count="DOC">1</span>)
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="type-jpg" name="type"
                                                        type="checkbox" value="JPG">
                                                    <label class="govuk-label govuk-checkboxes__label" for="type-jpg">
                                                        JPG (<span class="type-count" data-type-count="JPG">2</span>)
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="type-xlsx" name="type"
                                                        type="checkbox" value="XLSX">
                                                    <label class="govuk-label govuk-checkboxes__label" for="type-xlsx">
                                                        XLX, XLSX (<span class="type-count"
                                                            data-type-count="XLSX">0</span>)
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button">
                            Date published
                        </span>
                    </h2>
                </div>
                <div class="govuk-accordion__section-content">
                    <div style="padding-left:30px;">
                        <fieldset class="govuk-fieldset">

                            <div class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                <h4 class="govuk-fieldset__heading">From</h4>
                            </div>
                            <div class="govuk-hint">For example, 5 7 2022</div>
                            <div class="govuk-date-input">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <span class="govuk-label govuk-date-input__label">Day</span>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                            id="date-from-day" name="date-from-day" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <span class="govuk-label govuk-date-input__label">Month</span>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                            id="date-from-month" name="date-from-month" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <span class="govuk-label govuk-date-input__label">Year</span>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                            id="date-from-year" name="date-from-year" type="text" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-fieldset__legend govuk-fieldset__legend--xs" style="margin-top:20px">
                                <h4 class="govuk-fieldset__heading">To</h4>
                            </div>
                            <div class="govuk-hint">For example, 27 3 2023</div>
                            <div class="govuk-date-input">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <span class="govuk-label govuk-date-input__label">Day</span>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                            id="date-to-day" name="date-to-day" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <span class="govuk-label govuk-date-input__label">Month</span>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                            id="date-to-month" name="date-to-month" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <span class="govuk-label govuk-date-input__label">Year</span>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                            id="date-to-year" name="date-to-year" type="text" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

        </div>

        <button class="govuk-button" id="apply-filters-button" type="button">Apply
            filters</button>
    </div>

    <div class="govuk-grid-column-one-half">

        <div id="active-filters-section" class="active-filters" style="display: none;">
            <h3 class="govuk-heading-s">Active filters</h3>
            <div id="active-filters-list" class="active-filters__list"></div>
            <div class="clear-link">
                <p class="govuk-body">
                    <a href="#" id="clear-filters-link" class="govuk-link">Clear filters</a>
                </p>
            </div>
        </div>

        <h2 class="govuk-heading-m">Results</h2>
        <div class="filter-item">
            <div class="filter-result" data-type="PDF" data-stage="Consultation" data-date="2026-05-27">
                <ul class="govuk-list">
                    <li><a href="">Document-1.PDF</a></li>
                    <li>27 May 2026</li>
                    <li>PDF, 223KB</li>
                </ul>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>

        <div class="filter-item">
            <div class="filter-result" data-type="PDF" data-stage="Consultation" data-date="2026-05-27">
                <ul class="govuk-list">
                    <li><a href="">Document-2.PDF</a></li>
                    <li>27 May 2026</li>
                    <li>PDF, 6KB</li>
                </ul>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>

        <div class="filter-item">
            <div class="filter-result" data-type="DOC" data-stage="Hearing" data-date="2025-11-27">
                <ul class="govuk-list">
                    <li><a href="">Document-3.doc</a></li>
                    <li>27 November 2025</li>
                    <li>DOC, 22MB</li>
                </ul>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>

        <div class="filter-item">
            <div class="filter-result" data-type="PDF" data-stage="Decision" data-date="2025-11-27">
                <ul class="govuk-list">
                    <li><a href="">Document-4.PDF</a></li>
                    <li>27 November 2025</li>
                    <li>PDF, 2KB</li>
                </ul>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>

        <div class="filter-item">
            <div class="filter-result" data-type="JPG" data-stage="Written representations" data-date="2026-03-02">
                <ul class="govuk-list">
                    <li><a href="">Document-5.jpeg</a></li>
                    <li>2 March 2026</li>
                    <li>JPG, 24KB</li>
                </ul>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>

        <div class="filter-item">
            <div class="filter-result" data-type="JPG" data-stage="Written representations" data-date="2026-04-05">
                <ul class="govuk-list">
                    <li><a href="">Document-6.jpg</a></li>
                    <li>5 April 2026</li>
                    <li>JPG, 2KB</li>
                </ul>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>

    </div>
                    '
                    , 'html') }}<!-- beautify ignore:end -->
                </div>
            </div>

            <div class="govuk-tabs__panel" id="left-tab-3">
                <h4 class="govuk-heading-s">Prototype links</h4>

                <h4 class="govuk-heading-s">Find a National Infrastructure Project prototype</h4>
                <ul class="govuk-list">
                    <li>
                        <a
                            href="https://github.com/Planning-Inspectorate/applications-service-prototype/blob/main/app/views/FrontOffice/Project_documents.html">GitHub
                            code</a>
                    </li>
                    <li>
                        <a
                            href="https://pins-app-prototype-applications-front-office.azurewebsites.net/FrontOffice/Project_documents">View
                            in prototype</a>
                    </li>
                </ul>

                <h4 class="govuk-heading-s">Find a Crown development application prototype</h4>
                <ul class="govuk-list">
                    <li>
                        <a
                            href="https://github.com/Planning-Inspectorate/crown-developments-prototype/blob/main/app/views/features/filter-redesign/v1/written-representations.html">GitHub
                            code</a>
                    </li>
                    <li>
                        <a
                            href="https://pins-app-prototype-crown-dev.azurewebsites.net/features/filter-redesign/v1/written-representations">View
                            in prototype</a>
                    </li>
                </ul>
            </div>
        </div>


        <h3 class="govuk-heading-m">Filters above results</h3>

        <p class="govuk-body">Show collapsible filters above the results when:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the page layout does not allow for a left-hand panel</li>
            <li>the results need to span the full width of the page</li>
            <li>the left-hand column is used for other important content</li>
        </ul>

        <div class="govuk-tabs" data-module="govuk-tabs">
            <h3 class="govuk-tabs__title">Contents</h3>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#top-tab-1">Example</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#top-tab-2">HTML</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#top-tab-3">Prototype links</a>
                </li>
            </ul>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="top-tab-1">
                <h4 class="govuk-heading-s">Example</h4>
                <iframe height="900px" width="100%" src="filter-example-top.html"></iframe>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="top-tab-2">
                <h4 class="govuk-heading-s">HTML</h4>

                <!-- beautify ignore:start -->{{ codeBlock('<style>
    .selected-filter-tag {
        display: inline-flex !important;
        width: auto !important;
        max-width: none !important;
        margin: 0px;
        border-radius: 5px;
        background: #f3f2f1;
        color: #0b0c0c;
        border-radius: 4px;
        padding: 4px 10px !important;
        border: 1px solid #b1b4b6;
        box-shadow: none !important;
    }

    .clear-link {
        margin-top: 20px;
        padding: 4px;
    }

    .active-filters {
        margin-bottom: 20px;
    }

    .active-filters__list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: center;
        margin-top: 0.5rem;
    }
</style>
{% from "govuk/components/details/macro.njk" import govukDetails %}

<div style="margin-top: 20px">
    {{ govukDetails({
    summaryText: "Filters",
    html: "<h3 class="govuk-heading-s">Type</h3>
    <fieldset class="govuk-fieldset">
        <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-pdf" name="type" type="checkbox" value="PDF">
                <label class="govuk-label govuk-checkboxes__label" for="type-pdf">
                    PDF (<span class="type-count" data-type-count="PDF">3</span>)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-doc" name="type" type="checkbox" value="DOC">
                <label class="govuk-label govuk-checkboxes__label" for="type-doc">
                    DOC, DOCX (<span class="type-count" data-type-count="DOC">1</span>)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-jpg" name="type" type="checkbox" value="JPG">
                <label class="govuk-label govuk-checkboxes__label" for="type-jpg">
                    JPG (<span class="type-count" data-type-count="JPG">2</span>)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-xlsx" name="type" type="checkbox" value="XLSX">
                <label class="govuk-label govuk-checkboxes__label" for="type-xlsx">
                    XLX, XLSX (<span class="type-count" data-type-count="XLSX">0</span>)
                </label>
            </div>
        </div>
    </fieldset>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h3 class="govuk-heading-s">Date published</h3>
    <fieldset class="govuk-fieldset">

        <div class="govuk-fieldset__legend govuk-fieldset__legend--xs">
            <h4 class="govuk-fieldset__heading">From</h4>
        </div>
        <div class="govuk-hint">For example, 5 7 2022</div>
        <div class="govuk-date-input">
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <span class="govuk-label govuk-date-input__label">Day</span>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-from-day"
                        name="date-from-day" type="text" inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <span class="govuk-label govuk-date-input__label">Month</span>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-from-month"
                        name="date-from-month" type="text" inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <span class="govuk-label govuk-date-input__label">Year</span>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-from-year"
                        name="date-from-year" type="text" inputmode="numeric">
                </div>
            </div>
        </div>
        <div class="govuk-fieldset__legend govuk-fieldset__legend--xs" style="margin-top:20px">
            <h4 class="govuk-fieldset__heading">To</h4>
        </div>
        <div class="govuk-hint">For example, 27 3 2023</div>
        <div class="govuk-date-input">
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <span class="govuk-label govuk-date-input__label">Day</span>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-to-day"
                        name="date-to-day" type="text" inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <span class="govuk-label govuk-date-input__label">Month</span>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-to-month"
                        name="date-to-month" type="text" inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <span class="govuk-label govuk-date-input__label">Year</span>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-to-year"
                        name="date-to-year" type="text" inputmode="numeric">
                </div>
            </div>
        </div>
    </fieldset>
    <button class="govuk-button" id="apply-filters-button" type="button" style="margin-top: 20px;">Apply
        filters</button>
</div>
    "

    }) }}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <div id="active-filters-section" class="active-filters" style="display: none;">
        <h3 class="govuk-heading-s">Active filters</h3>
        <div id="active-filters-list" class="active-filters__list"></div>
        <div class="clear-link">
            <p class="govuk-body">
                <a href="#" id="clear-filters-link" class="govuk-link">Clear filters</a>
            </p>
        </div>
    </div>

    <h2 class="govuk-heading-m">Results</h2>
    <div class="filter-item">
        <div class="filter-result" data-type="PDF" data-stage="Consultation" data-date="2026-05-27">
            <ul class="govuk-list">
                <li><a href="">Document-1.PDF</a></li>
                <li>27 May 2026</li>
                <li>PDF, 223KB</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>

    <div class="filter-item">
        <div class="filter-result" data-type="PDF" data-stage="Consultation" data-date="2026-05-27">
            <ul class="govuk-list">
                <li><a href="">Document-2.PDF</a></li>
                <li>27 May 2026</li>
                <li>PDF, 6KB</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>

    <div class="filter-item">
        <div class="filter-result" data-type="DOC" data-stage="Hearing" data-date="2025-11-27">
            <ul class="govuk-list">
                <li><a href="">Document-3.doc</a></li>
                <li>27 November 2025</li>
                <li>DOC, 22MB</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>

    <div class="filter-item">
        <div class="filter-result" data-type="PDF" data-stage="Decision" data-date="2025-11-27">
            <ul class="govuk-list">
                <li><a href="">Document-4.PDF</a></li>
                <li>27 November 2025</li>
                <li>PDF, 2KB</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>

    <div class="filter-item">
        <div class="filter-result" data-type="JPG" data-stage="Written representations" data-date="2026-03-02">
            <ul class="govuk-list">
                <li><a href="">Document-5.jpeg</a></li>
                <li>2 March 2026</li>
                <li>JPG, 24KB</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>

    <div class="filter-item">
        <div class="filter-result" data-type="JPG" data-stage="Written representations" data-date="2026-04-05">
            <ul class="govuk-list">
                <li><a href="">Document-6.jpg</a></li>
                <li>5 April 2026</li>
                <li>JPG, 2KB</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
           

                    '
                , 'html') }}<!-- beautify ignore:end -->

            </div>

            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="top-tab-3">
                <h4 class="govuk-heading-s">Prototype links</h4>

                <h4 class="govuk-heading-s">Crown Developments prototype</h4>
                <ul class="govuk-list">
                    <li>
                        <a
                            href="https://github.com/Planning-Inspectorate/crown-developments-prototype/blob/main/app/views/features/filters/v3/applications.html">GitHub
                            link</a>
                    </li>
                    <li>
                        <a
                            href="https://pins-app-prototype-crown-dev.azurewebsites.net/features/filters/v3/applications">View
                            in prototype</a>
                    </li>
                </ul>

            </div>
        </div>

        <p class="govuk-body">This pattern is based on the
            <a href="https://www.gov.uk/search">GOV.UK search</a>
            filters.
        </p>

        <h2 class="govuk-heading-l">How to design filters</h2>

        <h3 class="govuk-heading-m">Make filters relevant</h3>

        <p class="govuk-body">Base filters on real user needs. Use language your users understand. Avoid technical
            terms
            or
            internal labels.
        </p>

        <p class="govuk-body">Group related filters together and use clear headings.
        </p>

        <h3 class="govuk-heading-m">Keep filter lists short</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>Show the most common or useful options first.</li>
            <li>Keep lists scannable and avoid long, ungrouped lists</li>
            <li>Consider grouping options into categories</li>
        </ul>

        <h3 class="govuk-heading-m">Show applied filters</h3>

        <p class="govuk-body">When users apply filters:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>show selected filters as removable tags or “chips”</li>
            <li>provide a “Clear filters” option</li>
        </ul>




        <h3 class="govuk-heading-m">Make filters work with search</h3>

        <p class="govuk-body">Make it easy to remove filters or clear the search independently.
        </p>

        <h3 class="govuk-heading-m">No results</h3>

        <p class="govuk-body">
            If a user applies filters or enters a search and gets no results, help them recover:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>show a clear message that no results were found</li>
            <li>suggest how they can change or remove filters</li>
            <li>offer a link to remove filters and clear search</li>
        </ul>



        <h2 class="govuk-heading-l">Mobile design</h2>

        <p class="govuk-body">On mobile, filters should be hidden within an accordion button and
            expand as needed.
        </p>

        <div class="wrap-mobile">
            <iframe class="frame-mobile" src="filter-example-top.html"></iframe>
        </div>

        <h2 class="govuk-heading-l">Accessibility</h2>

        <p class="govuk-body">Make sure filters are:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>keyboard navigable</li>
            <li>screen reader friendly</li>
            <li>use visible focus states</li>
        </ul>

        <p class="govuk-body">Use simple visuals (for example, white backgrounds, uncluttered layouts, simple
            arrows).
        </p>

        <h2 class="govuk-heading-l">Research on this component</h2>

        <p class="govuk-body">We would like to do more user research into this component.</p>

        <h2 class="govuk-heading-l">Other filter patterns</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a class="govuk-link" href="https://design-patterns.service.justice.gov.uk/components/filter/">Ministry
                    of
                    Justice (MOJ) filter
                    component
                </a>
            </li>
            <li>
                <a href="https://design.education.gov.uk/design-system/components/filter">Department for Education
                    (DfE)
                    filter component
                </a>
            </li>
            <li>
                <a href="https://design-system.est.org.uk/patterns/filter.html">Energy Saving Trust (EST) filter
                    pattern</a>
            </li>
        </ul>
        <h2 class="govuk-heading-l">Component history</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                2 June 2026: Iterated this pattern to use the GOV.UK accordion styling to avoid link vs button
                ambiguity.
            </li>
        </ul>

    </div>
</div>

{% endblock %}