{% set currentPage = "components" %}
{% extends "layouts/main.html" %}

{% set pageName = "Upload multiple files" %}

{% from "layouts/component-menu.html" import sideMenu %}
{% from "components/multidocumentupload.njk" import multiDocumentUpload %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {{ sideMenu("item5") }}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ pageName }}</h1>

    <p>
      <strong class="govuk-tag govuk-tag--yellow">Work in progress</strong>
    </p>

    <p class="govuk-body-l">
      Use this component to show how users can upload several files. This component is based on the <a
        href="https://design-patterns.service.justice.gov.uk/components/multi-file-upload/">MOJ multi file upload
        component</a>.
    </p>

    {% set exampleHtml %}
    <div id="multi-upload-example">
      <form method="post">
          {% include 'components/multiple-document-upload.html' %}
      </form>
    </div>
    {% endset %}

    {% set codeHtml %}
    <pre class="code-snippet"><code>{% raw %}
{{ multiDocumentUpload({
  caption: "Appeal 12345678",
  heading: "Upload cross-team correspondence"
}) }}
{% endraw %}</code></pre>
    {% endset %}

    {{ govukTabs({
    items: [
    { label: "Example", id: "example", panel: { html: exampleHtml } },
    { label: "Nunjucks", id: "nunjucks", panel: { html: codeHtml } }
    ]
    }) }}

    <h2 class="govuk-heading-l">When to use this pattern</h2>
    <p class="govuk-body">Use the multi file upload component when you want users to be able to upload more than one
      file.
    </p>

    <h2 class="govuk-heading-l">How it works
    </h2>
    <p class="govuk-body">You can use this component as a <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>
      macro.
    </p>

    <p class="govuk-body">It should be nested in a ‘two-thirds’ grid layout and an HTML form element. You will need to add a GOV.UK button
      after the component.
    </p>

    <h2 class="govuk-heading-l">Error messaging
    </h2>

    <p class="govuk-body">If a user attempts to continue before all files have finished uploading, display the following error summary and message: "Wait for all file to finish uploading".
    </p>

    <p class="govuk-body"><a href="https://pins-ds.atlassian.net/wiki/spaces/BO/pages/edit-v2/1598718005#File-upload">See Appeals error messages here</a></p>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
  $(document).ready(function () {
    MOJFrontend.MultiFileUpload.initAll()
  });
</script>
{% endblock %}