{% set currentPage = "patterns" %}
{% extends "layouts/main.html" %}

{% set pageName = "Filters" %}

{% from "layouts/pattern-menu.html" import sideMenu %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {{ sideMenu("item2") }}
    </div>

    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ pageName }}</h1>
      <p>
        <strong class="govuk-tag govuk-tag--yellow">Work in progress
        </strong>
      </p>

      <p class="govuk-body">Use filters to help users narrow down a list of results. There are 2 common filter layouts. Choose the one that best meets user needs and the context of the page. Test both with users to find out what works best.</p>

      <h2 class="govuk-heading-l">When to use this pattern</h2>

      <p class="govuk-body">Use filters when users need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>narrow down a long list of results</li>
        <li>find specific items based on known criteria</li>
        <li>combine filters with search to refine results</li>
      </ul>

      <p class="govuk-body">Do not use filters if users are unlikely to understand the filtering options or if the list is short enough to scan easily.</p>

      <h2 class="govuk-heading-l">Filter layouts</h2>

      <h3 class="govuk-heading-m">Left-hand filter panel</h3>

      <p class="govuk-body">Use left hand filters when you want to keep filters visible while users browse results. This layout works well when:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>filters are important to the task</li>
        <li>users need to adjust filters while browsing results</li>
        <li>there is enough horizontal space to accommodate the filter panel</li>
      </ul>

      <img style="border:1px solid grey" src="/public/images/patterns/filters/left-hand-filter-panel.png" alt="A screenshot of a filter panel in the left hand navigation of the Find a National Infrastructure Project service. Each filter can be expanded or collapsed, and there is a button to apply the filters.">

      <p class="govuk-body">This pattern is based on the
        <a href="https://national-infrastructure-consenting.planninginspectorate.gov.uk/projects/EN010128/documents?itemsPerPage=25">Find a National Infrastructure Project</a>
        filter, with updates based on user research and design guidance.</p>

      <h3 class="govuk-heading-m">Filters above results</h3>

      <p class="govuk-body">Show filters above the results when:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the page layout does not allow for a left-hand panel</li>
        <li>the results need to span the full width of the page</li>
        <li>the left-hand column is used for other important content</li>
      </ul>

      <img style="border:1px solid grey" src="/public/images/patterns/filters/filter-above-results.png" alt="A screenshot of a collapsible filter panel above the Crown Developments applications list. Each filter can be expanded or collapsed, and there is a button to apply the filters.">

      <p class="govuk-body">This pattern is based on the
        <a href="https://www.gov.uk/search">GOV.UK search</a>
        filters.</p>

      <h2 class="govuk-heading-l">How to design filters</h2>

      <h3 class="govuk-heading-m">Make filters relevant</h3>

      <p class="govuk-body">Base filters on real user needs. Use language your users understand. Avoid technical terms or internal labels.
      </p>

      <p class="govuk-body">Group related filters together and use clear headings.
      </p>

      <h3 class="govuk-heading-m">Keep filter lists short</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Show the most common or useful options first.</li>
        <li>Keep lists scannable and avoid long, ungrouped lists</li>
        <li>Consider grouping options into categories</li>
      </ul>

      <h3 class="govuk-heading-m">Show applied filters</h3>

      <p class="govuk-body">When users apply filters:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>show selected filters as removable tags or “chips”</li>
        <li>provide a “Clear filters” option</li>
        <li>update the results and filter counts dynamically</li>
      </ul>

      <img style="border:1px solid grey; margin-bottom: 30px" src="/public/images/patterns/filters/filtered-results.png" alt="A screenshot of a collapsible filter panel above the Crown Developments applications list. Each filter can be expanded or collapsed, and there is a button to apply the filters.">

      <h3 class="govuk-heading-m">Make filters work with search</h3>

      <p class="govuk-body">Make it easy to remove filters or clear the search independently.
      </p>

      <h3 class="govuk-heading-m">Allow users to show or hide filters</h3>

      <p class="govuk-body">Let users expand or collapse individual filters. Include a “Show all filters” option to expand or collapse all.</p>

      <p class="govuk-body">If filters are in a panel, provide a clear “Show filters” and “Hide filters” button, especially if the panel overlaps content like a map.</p>

      <h2 class="govuk-heading-l">What not to do</h2>

      <p class="govuk-body">Avoid:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>long filter lists that scroll beyond the page content: use collapsible sections instead</li>
        <li>scroll traps: do not allow endless scrolling inside filter panels</li>
        <li>unusual input types: for example, avoid using radio buttons unless there’s a clear reason</li>
      </ul>

      <h2 class="govuk-heading-l">Mobile design</h2>

      <p class="govuk-body">On mobile, filters are usually hidden behind a “Show filters” button to save space. When users tap the button, the filter panel can expand as an accordion or appear as a full-screen overlay.
      </p>

      <div style="display: flex; gap: 20px; padding-bottom: 20px; align-items: flex-start">
        <img style="border:1px solid grey" src="/public/images/patterns/filters/left-hand-mobile-expanded.png" alt="A screenshot of a mobile filter panel overlay on the Find a National Infrastructure Project service. The filter panel has a 'return to results' button at the top, and each filter can be expanded or collapsed. There is also an Apply filters button at the bottom.">

        <img style="border:1px solid grey;" src="/public/images/patterns/filters/filter-above-results-mobile.png" alt="A screenshot of a collapsible filter panel above the Crown Developments applications list. Each filter can be expanded or collapsed, and there is a button to apply the filters."></div>

      <p class="govuk-body">You can also
        <a href="https://design.education.gov.uk/design-system/components/filter#:~:text=when%20using%20filters-,Mobile%20design,-When%20using%20mobile">read Department for Education guidance</a>
        for designing filters on mobile.</p>

      <h2 class="govuk-heading-l">Accessibility</h2>

      <p class="govuk-body">Make sure filters are:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>keyboard navigable</li>
        <li>screen reader friendly: especially expand and collapse controls, tags, and show/hide buttons</li>
        <li>visually clear: use white backgrounds, simple arrows, and uncluttered layouts</li>
      </ul>

      <p class="govuk-body">Use simple, clean visuals (for example, white backgrounds, uncluttered layouts, simple arrows).
      </p>

      <h2 class="govuk-heading-l">Research on this component</h2>

      <p class="govuk-body">We’re currently doing user research on this pattern. We’ll update this page when findings are available.
      </p>

      <h2 class="govuk-heading-l">Links to other design systems</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://design-patterns.service.justice.gov.uk/components/filter/">Ministry of Justice (MOJ) filter component
          </a>
        </li>
        <li>
          <a href="https://design.education.gov.uk/design-system/components/filter">Department for Education (DfE) filter component
          </a>
        </li>
        <li>
          <a href="https://design-system.est.org.uk/patterns/filter.html">Energy Saving Trust (EST) filter pattern</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}