{% set currentPage = "patterns" %}
{% extends "layouts/main.html" %}

{% set pageName = "Confirm an action" %}

{% from "layouts/pattern-menu.html" import sideMenu %}

{# Example Nunjucks code for the radio buttons #}
{% set exampleNunjucks -%}
<h1 class="govuk-heading-l">
  Confirm you want to remove a thing
</h1>
<p class="govuk-body">
  We will do something if you remove this thing.
</p>
<button class="govuk-button">
  Yes, remove the thing
</button>
<p class="govuk-body">
  <a href="#" class="govuk-link">No, keep the thing</a>
</p>{%- endset %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {{ sideMenu("confirm-action") }}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" id="case-heading">
      {{ pageName }}
    </h1>
    <p>
      {{govukTag({
        text: "Pattern in use",
        classes: "govuk-tag--green"
      })}}
      {{govukTag({
        text: "Needs review",
        classes: "govuk-tag--yellow"
      })}}
    </p>

    <p class="govuk-body-l">
      Confirm an action with the user.
    </p>

    <p class="govuk-body">
      Ask users to confirm an action, before they do it, to make sure they know what they are doing and to prevent them from doing something by mistake.
    </p>

    {% set exampleHtml -%}
      <h1 class="govuk-heading-l">
        Confirm you want to remove an agent
      </h1>
      <p class="govuk-body">
        We will stop sending updates to the agent if you remove them.
      </p>
      <button class="govuk-button">
        Yes, remove the agent
      </button>
      <p class="govuk-body">
        <a href="#" class="govuk-link">No, keep the agent</a>
      </p>
    {%- endset %}

    {% set codeHtml %}
      <pre class="code-snippet"><code>{{ exampleNunjucks }}</code></pre>
    {% endset %}

    {{ govukTabs({
      items: [
        {
          label: "Example",
          id: "example",
          panel: {
            html: exampleHtml
          }
        },
        {
          label: "HTML",
          id: "html",
          panel: {
            html: codeHtml
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-l">
      When to use this pattern
    </h2>

    <p>
      Use this pattern to put some friction in a user action, so that the user doesn't take the action by accident, or to make sure they understand the consequences of their action.
    </p>

    <h2 class="govuk-heading-l">
      How it works
    </h2>

    <p class="govuk-body">
      This pattern uses core GDS components, such as headings, paragraphs, buttons and links, to create a confirmation page that asks the user to confirm an action.
    </p>

    <p class="govuk-body">
      If the user confirms they want to proceed, the action is taken. If they don’t, they are returned to the previous page.
    </p>

  </div>
</div>
{% endblock %}