{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% macro redactionTool(originalText, redactedText, accordionId="original-statement") %}

  {{ govukAccordion({
    id: accordionId,
    items: [
      {
        heading: { text: "Original statement" },
        content: {
          html: originalText | safe
        }
      }
    ]
  }) }}

  {{ govukButton({
    text: "Revert to original statement",
    classes: "govuk-button--secondary",
    type: "button",
    attributes: { id: "revertButton" }
  }) }}

  <form method="post" class="govuk-!-margin-top-2">

    {{ govukTextarea({
      name: "redactedComment",
      id: "redactedComment",
      rows: 9,
      label: {
        text: "Redacted statement",
        classes: "govuk-label--m"
      },
      value: redactedText
    }) }}

    <div class="govuk-button-group app-hidden">

      {{ govukButton({
        text: "Redact selected text",
        classes: "govuk-button--secondary",
        type: "button",
        attributes: { id: "redactButton" }
      }) }}

      {{ govukButton({
        text: "Undo changes",
        classes: "govuk-button--secondary",
        type: "button",
        attributes: { id: "undoButton" }
      }) }}

    </div>

    {{ govukButton({ text: "Continue" }) }}

  </form>

{% endmacro %}