{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block content %}
<!--styling-->
<style>
    /* Front office filters dropdown */
    .filters .govuk-details__summary::before {
        clip-path: polygon(6.38% 22.63%, 49.5% 65.75%, 92.63% 22.63%, 100% 30%, 50% 80%, 0% 30%);
        width: 3px;
        height: 3px;
        border-color: inherit;
        border-width: 8px 0 4px 12.124px;
    }

    .filters dl .govuk-details__summary::before {
        background-color: black;
        color: black;
    }

    dl .filters {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #b1b4b6;

        .govuk-details__summary {
            margin-left: 15px;
        }

        .govuk-details__text {
            padding-left: 0px;
            margin-left: 15px;
        }
    }

    .filters .govuk-details__text {
        border: none;
        padding: 20px;
    }

    .filters .govuk-details__summary-text {
        text-decoration: none;
    }

    .filters.govuk-details[open]>.govuk-details__summary::before {
        clip-path: polygon(0% 71.88%, 49.5% 12.63%, 98.5% 71.88%, 91.63% 78.71%, 50% 26.88%, 7.37% 79.29%);
        width: 3px;
        height: 3px;
        border-color: inherit;
    }
</style>
<!--HTML-->

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group govuk-!-margin-bottom-0">
            <label class="govuk-label govuk-label--m" for="event-name">
                Search representations
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" name="oneHalf" type="text">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Search
            </button>
        </div>
        <details class="govuk-details filters">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text filtersText">
                    Filter representations
                </span>
            </summary>
            <div class="govuk-details__text" style="background-color:#F3F2F1;">
                <dl class="govuk-summary-list">
                    <!--Status filters-->
                    <details class="govuk-details filters">
                        <summary class="govuk-details__summary govuk-!-margin-left-0">
                            <span class="govuk-details__summary-text filtersText">
                                <strong style="color: black;">Status</strong>
                            </span>
                        </summary>
                        <div class="govuk-details__text govuk-!-margin-left-0" style="background-color:#F3F2F1;">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-checkboxes govuk-checkboxes--small"
                                        data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation" name="organisation"
                                                type="checkbox" value="hmrc">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                                Awaiting review (82)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-2"
                                                name="organisation" type="checkbox" value="employment-tribunal">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                                                Draft (13)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-3"
                                                name="organisation" type="checkbox" value="MOD">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                                                Referred (0)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Invalid (7)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Valid (28)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Published (21)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Withdrawn (2)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Unpublished (4)
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </details>
                    <!--Issue filters-->
                    <details class="govuk-details filters">
                        <summary class="govuk-details__summary govuk-!-margin-left-0">
                            <span class="govuk-details__summary-text filtersText">
                                <strong style="color: black;">Issue</strong>
                            </span>
                        </summary>
                        <div class="govuk-details__text govuk-!-margin-left-0" style="background-color:#F3F2F1;">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-checkboxes govuk-checkboxes--small"
                                        data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation" name="organisation"
                                                type="checkbox" value="hmrc">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                                Agriculture & soils (82)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-2"
                                                name="organisation" type="checkbox" value="employment-tribunal">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                                                Air Quality (13)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-3"
                                                name="organisation" type="checkbox" value="MOD">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                                                Alternatives (0)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Amenity & recreation (7)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Biodiversity, ecology, ornithology (28)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Climate change & resilience (21)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Compulsory Acquisition (2)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Draft DCO (4)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Flood risk, ground & surface water (21)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Funding (22)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Historic Environment (44)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Landscape, visual, design (21)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Marine navigation, fisheries, water (22)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Noise and vibration (4)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Radiological considerations (21)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Safety (4)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Socio-economic (28)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Traffic & transport (14)
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </details>
                    <!--Type of party-->
                    <details class="govuk-details filters">
                        <summary class="govuk-details__summary govuk-!-margin-left-0">
                            <span class="govuk-details__summary-text filtersText">
                                <strong style="color: black;">Type</strong>
                            </span>
                        </summary>
                        <div class="govuk-details__text govuk-!-margin-left-0" style="background-color:#F3F2F1;">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-checkboxes govuk-checkboxes--small"
                                        data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation" name="organisation"
                                                type="checkbox" value="hmrc">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                                Local authorities (72)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-2"
                                                name="organisation" type="checkbox" value="employment-tribunal">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                                                Members of the public/businesses (186)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-3"
                                                name="organisation" type="checkbox" value="MOD">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                                                Non-statutory organisations (2)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Statutory consultees (7)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4"
                                                name="organisation" type="checkbox" value="DfT">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                Parish councils (28)
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </details>
                    <!--Other filters-->
                    <details class="govuk-details filters">
                        <summary class="govuk-details__summary govuk-!-margin-left-0">
                            <span class="govuk-details__summary-text filtersText">
                                <strong style="color: black;">Other</strong>
                            </span>
                        </summary>
                        <div class="govuk-details__text govuk-!-margin-left-0" style="background-color:#F3F2F1;">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-checkboxes govuk-checkboxes--small"
                                        data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation" name="organisation"
                                                type="checkbox" value="hmrc">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                                Under 18 (12)
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-2"
                                                name="organisation" type="checkbox" value="employment-tribunal">
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                                                Declared AI usage (6)
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </details>
                </dl>
                <button class="govuk-button">Apply filters</button>
            </div>
        </details>
    </div>

</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <p class="govuk-body-s">Showing <b>1</b> to <b>25</b> of <b>162</b> results</p>
    </div>
    <div class="govuk-grid-column-one-half text-align--right">
        <p class="govuk-body-s govuk-!-text-align-right">
            <span class="govuk-!-margin-right-2"><strong>Results per page</strong></span>
            <span class="govuk-!-margin-left-1">25<span class="govuk-visually-hidden"> results per page</span></span>
            <span class="govuk-!-margin-left-1">|</span>
            <span class="govuk-!-margin-left-1"><a class="govuk-link" href="#"><span class="govuk-visually-hidden">View
                    </span>50<span class="govuk-visually-hidden"> results per page</span></a> </span>
            <span class="govuk-!-margin-left-1">|</span>
            <span class="govuk-!-margin-left-1"><a class="govuk-link" href="#"><span class="govuk-visually-hidden">View
                    </span>100<span class="govuk-visually-hidden"> results per page</span></a></span>
        </p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header sortButton">Reference&#9660;</th>
                    <th scope="col" class="govuk-table__header sortButton">From&#9660;</th>
                    <th scope="col" class="govuk-table__header sortButton">Date received&#9660;</th>
                    <th scope="col" class="govuk-table__header sortButton">Redacted&#9660;</th>
                    <th scope="col" class="govuk-table__header sortButton">Status&#9660;</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for i in range(3) %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">B1000000{{i}}4</td>
                    <td class="govuk-table__cell">John Doe</td>
                    <td class="govuk-table__cell">12 Aug 2025</td>
                    <td class="govuk-table__cell">Redacted</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag">
                            Valid
                        </strong></td>
                    <td class="govuk-table__cell"><a href="RelRep_details_v2">Review</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">B1000000{{i}}5</td>
                    <td class="govuk-table__cell">Jim Doe</td>
                    <td class="govuk-table__cell">12 Aug 2025</td>
                    <td class="govuk-table__cell">Redacted</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                            Published
                        </strong></td>
                    <td class="govuk-table__cell"><a href="RelRep_details_v2">Review</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">B1000000{{i}}6</td>
                    <td class="govuk-table__cell">Jack Doe</td>
                    <td class="govuk-table__cell">12 Aug 2025</td>
                    <td class="govuk-table__cell">Redacted</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">
                            Withdrawn
                        </strong></td>
                    <td class="govuk-table__cell"><a href="RelRep_details_v2">Review</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">B1000000{{i}}7</td>
                    <td class="govuk-table__cell">Jane Doe</td>
                    <td class="govuk-table__cell">12 Aug 2025</td>
                    <td class="govuk-table__cell">Unredacted</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
                            Invalid
                        </strong></td>
                    <td class="govuk-table__cell"><a href="RelRep_details_v2_updated">Review</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">B1000000{{i}}8</td>
                    <td class="govuk-table__cell">Johan Doe</td>
                    <td class="govuk-table__cell">12 Aug 2025</td>
                    <td class="govuk-table__cell">Unredacted</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                            Draft
                        </strong></td>
                    <td class="govuk-table__cell"><a href="RelRep_details_v2_updated">Review</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">B1000000{{i}}8</td>
                    <td class="govuk-table__cell">James Doe</td>
                    <td class="govuk-table__cell">12 Aug 2025</td>
                    <td class="govuk-table__cell">Unredacted</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                            Awaiting review
                        </strong></td>
                    <td class="govuk-table__cell"><a href="RelRep_details_v2_updated">Review</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">B1000000{{i}}9</td>
                    <td class="govuk-table__cell">Joe Doe</td>
                    <td class="govuk-table__cell">12 Aug 2025</td>
                    <td class="govuk-table__cell">Unredacted</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                            Referred
                        </strong></td>
                    <td class="govuk-table__cell"><a href="RelRep_details_v2_updated">Review</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav class="govuk-pagination" aria-label="Pagination">

            <ul class="govuk-pagination__list">
                <li class="govuk-pagination__item govuk-pagination__item--current">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                        1
                    </a>
                </li>
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                        2
                    </a>
                </li>
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                        3
                    </a>
                </li>
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 4">
                        4
                    </a>
                </li>
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 5">
                        5
                    </a>
                </li>
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 6">
                        6
                    </a>
                </li>
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 7">
                        7
                    </a>
                </li>
            </ul>
            <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                    <span class="govuk-pagination__link-title">
                        Next<span class="govuk-visually-hidden"> page</span>
                    </span>
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg"
                        height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path
                            d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                        </path>
                    </svg>
                </a>
            </div>
        </nav>
    </div>
</div>

{% endblock %}