{% set currentPage = "home" %}
{% extends "layouts/main.html" %}


{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">This pattern library brings together reusable components, patterns, and guidance to support consistent, accessible, and user-centred services.</p>

    <p class="govuk-body">It complements the <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a> by focusing on elements that are specific to the Planning Inspectorate.</p>

  </div>
</div>

{% endblock %}
