{% set currentPage = "content" %}
{% extends "layouts/main.html" %}

{% set pageName = "Content" %}

{% from "layouts/pattern-menu.html" import sideMenu %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      {{ pageName }}
    </h1>
    <p class="govuk-body-l">
      Some kind of sub heading text, summary maybe (if you want to use it)
    </p>

    <p class="govuk-body">
      Blurb goes here
    </p>
  </div>
</div>
{% endblock %}