{# layouts/side-menu.html #}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

{% macro sideMenu(currentItem) %}
  {{ mojSideNavigation({
    label: "Side navigation",
    items: [
      {
        text: "Footer",
        href: "/components/footer",
        active: currentItem == "item4"
      },
      {
        text: "Header",
        href: "/components/header",
        active: currentItem == "item3"
      },
      {
        text: "Service navigation",
        href: "/components/service-navigation",
        active: currentItem == "item5"
      },
      {
        text: "Upload multiple files",
        href: "/components/upload-multiple-files",
        active: currentItem == "item2"
      }
    ]
  }) }}
{% endmacro %}