{# layouts/side-menu.html #}

{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

{% macro sideMenu(currentItem) %}
  {{ mojSideNavigation({
    label: "Side navigation",
    items: [
      {
        text: "Address",
        href: "/patterns/address/address",
        active: currentItem == "address"
      },
      {
        text: "Check a thing",
        href: "/patterns/check-thing/check-thing",
        active: currentItem == "check-thing"
      },
      {
        text: "Filters",
        href: "/patterns/filters/filters",
        active: currentItem == "filters"
      },
      {
        text: "Manage a list",
        href: "/patterns/manage-list/manage-list.html",
        active: currentItem == "manage-list"
      },
      {
        text: "Redaction tool",
        href: "/patterns/redaction-tool/redaction-tool",
        active: currentItem == "redaction-tool"
      }
    ]
  }) }}
{% endmacro %}